h1.nice {
    font: lighter 22px "Times New Roman";
 } 
 a {
    background-color: rgb(69, 175, 241);
 } 
 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
 } 
 body {
    background-image: url('img_Blue Sky White Clouds Images');
 }